@import "../../sass/variables";

#dark {
  background: #0a0a23;
  color: white;
}

//button

.cheker-button {
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5),
    -3px -3px 4px rgba(255, 255, 255, 0.05);
  width: 176px;
  height: 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

#light {
  background: #f5f5f5;
  color: #000000;
}

.checker-wrapper {
  min-height: 100vh;
  .checker {
    padding-top: 150px;
  }
}
