@import "../../sass/variables";

.button {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    background: linear-gradient(45deg, $honey-yellow, $orange);
    border: none;
    border-radius: 2rem;
}