@import "../../../../sass/variables";

.sui-form-container {
  .sui-form-col {
    margin-bottom: 15px;
  }

  .input {
    background-color: $checker-dark-grey;
    color: white;
    border: 2px solid $checker-blue;
    border-radius: 10px;
    height: 52px;
    width: 100%;

    &:focus {
      box-shadow: none;
      border: 2px solid transparent;
      border-image-slice: 1;
      border-radius: 10px;
      background-image: linear-gradient(#191932, #191932),
        linear-gradient(to right, #e323ff, #7517f8);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }

  #light {
    background-color: #ffffff;
    color: #000000;
  }

  .gray {
    color: #808080;
  }

  .network-form-container {
    display: flex;
    flex-direction: column;
  }

  .sui-form-sbmt-button {
    margin-top: 32px;
  }

  .btn {
    border-radius: 10px;
    font-weight: 700;
    width: 100%;
    height: 52px;
    &#light {
      background-color: #023aff;
      color: white;
      border: 2px solid #023aff;
    }
  }
}
