#darkCard {
  background-color: #191932;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5),
    -3px -3px 4px rgba(255, 255, 255, 0.05);
}

#lightCard {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15),
    -3px -3px 4px rgba(255, 255, 255, 0.05);
}

.checker-card {
  min-height: 100px;
  min-width: 100px;
  border-radius: 10px;
  padding: 42px;
}
