@import "../../sass/variables";
@import "../../sass/mediaQueries";

.hidden {
  filter: grayscale(100%) blur(5px);
}

.event-card-wrapper {
  position: relative;
  min-height: 20rem;
  min-width: 15rem;
  border-radius: 1rem;
  background-color: $honey-yellow;
  max-width: 18rem;
  width: 100%;
  margin-bottom: 1rem;
  background-image: url("../../assets/images/coinmans/gifs/flow_gif.gif");
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: right 120px;
  z-index: 50;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  z-index: 100;
  height: 100%;
  .info {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    .city {
      font-size: 2rem;
      line-height: 2rem;
    }
    .date {
      font-size: 1.5rem;
    }
    .location {
      font-weight: 700;
    }

    .time {
      line-height: 100%;
      font-size: 2.7rem;
      line-height: 75%;
    }
  }
}

.event-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  background: linear-gradient(
    90deg,
    rgba(21, 176, 151, 1) 0%,
    rgba(32, 191, 85, 1) 100%
  );
  clip-path: polygon(
    75% 0,
    65% 23%,
    44% 30%,
    46% 52%,
    41% 73%,
    24% 83%,
    16% 100%,
    0 100%,
    0 0
  );

  z-index: -1;
}
