@import "../../../sass/mediaQueries";
@import "../../../sass/variables";

.heading {
  background-image: url("../../../assets/images/coinmans/btc_and_eth.png");
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: right bottom;

    width: 100%;
    position: absolute;
    padding-top: 6rem;
    height: 100vh;
    h1 {
        color: black;
        font-weight: 900;
    }
}


.heading-back {
  position: relative;
  height: 100vh;
  background: $honey-orange;


  padding-top: 60px;
  clip-path: polygon(
    61% 0,
    76% 0,
    70% 35%,
    51% 57%,
    27% 69%,
    12% 79%,
    0 86%,
    0% 70%,
    0% 35%,
    0 0
  );
  z-index: -1;
}

@include responsive (md) {
  .heading {
    background-size: 40rem;
  }
}