@import "../../../sass/variables";

.offers-wrapper {
  position: relative;
  .offers {
    width: 100%;
    height: 100%;
  }
  .offers-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    clip-path: polygon(59% 21%, 67% 3%, 100% 0, 100% 19%, 71% 66%, 0 100%, 0% 70%, 19% 38%);
    background: $orange-honey;
    z-index: -1;
  }
}
