@import "../../sass/variables";

.courses-wrapper {
  position: relative;
  background: $gray-white;
  z-index: 0;
  .courses {
    color: white;
    width: 100%;
    padding-top: 4rem;
    min-height: 100vh;
    z-index: -1;
    background-image: url(../../assets/images/coinmans/gifs/flow_gif.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 32rem;
    .grid-row{
      display: flex;
      flex-direction: column;
      .grid-col{

      }
    }
  }
  .courses-back {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background: $honey-orange;
    clip-path: polygon(
      48% 0,
      57% 18%,
      45% 43%,
      31% 51%,
      29% 64%,
      18% 77%,
      19% 93%,
      0 100%,
      0 0
    );
    top: 0;
    left: 0;
    z-index: -1;
  }
}
