.trading-course {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 2%,
    rgba(101, 2, 2, 1) 75%
  );
  clip-path: polygon(
    48% 0,
    57% 18%,
    45% 43%,
    31% 51%,
    29% 64%,
    18% 77%,
    19% 93%,
    0 100%,
    0 0
  );
}

.coinman {
  background-image: url(../../../assets/images/coinmans/gifs/flow_gif.gif);
  background-repeat: no-repeat;
  background-position: right 75%;
  background-size: 10rem;
}
